:root {
	--primary-color: rgb(25, 182, 255);
	--sec-color: rgb(12, 82, 151);
}

* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1rem;
}
.form-cont {
	width: 100vw;
	height: 100vh;
	background: url("./Assets/resume1.jpg");
	padding: 10px 0;
	box-sizing: border-box;
}
.form {
	background: rgb(255, 255, 255, 0.75);
	backdrop-filter: blur(5px);
	/* border: 1px solid black; */
	box-shadow: inset 0px 0px 10px var(--primary-color);
	width: 600px;
	height: 600px;
	padding: 20px 0 20px 0;
	margin: 20px auto;
	border-radius: 10px;
	filter: blur(0.25px);
	box-sizing: border-box;
	/* display: flex;
    flex-direction: column;
    align-items: center; */
	position: relative;
}
.form-items {
	height: 450px;
	display: flex;
	/* align-items: flex-start; */
	/* justify-items: flex-start; */
	/* background: blue; */
}
.form-item {
	align-self: flex-start;
	margin: 0 auto;
	/* background: red; */
}
.item-heading {
	width: 100%;
	text-align: center;
	color: var(--primary-color);
	font-size: 200%;
}
.change-btns {
	all: unset;
	position: absolute;
	top: 80%;
	width: 100%;
	margin: 0;
	/* background: red; */
	display: flex;
	justify-content: space-between;
}
.change-item {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	display: grid;
	place-items: center;
	font-size: 150%;
	color: white;
}
.change-item:first-child {
	top: 0;
	left: 20px;
}
.change-item:last-child {
	top: 0;
	right: 20px;
}
input {
	display: block;
	width: 400px;
	height: 35px;
	font-size: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 10px auto;
	text-indent: 10px;
	border-radius: 5px;
	border: none;
	background: var(--primary-color);
	color: white;
	transition: 0.35s;
}
input::placeholder,
textarea::placeholder {
	color: white;
	font-weight: 900;
}
input:focus,
textarea:focus {
	background: var(--sec-color);
	outline-color: var(--primary-color);
}
textarea {
	display: block;
	width: 400px;
	height: 50px;
	margin: 10px auto;
	font-size: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border: none;
	box-sizing: border-box;
	padding: 10px;
	background: var(--primary-color);
	border-radius: 5px;
	color: white;
}
.duration,
.program {
	width: 400px;
	/* background: red; */
	display: flex;
	justify-content: space-between;
}
.program input {
	flex-basis: 45%;
}
.education {
	color: var(--sec-color);
}
.duration label,
.grad-date {
	color: var(--sec-color);
	margin: 0;
	flex-basis: 40%;
	/* width: 40%; */
}
.duration label input {
	width: 100%;
}
button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 40px;
	margin: 10px auto;
	background: var(--primary-color);
	border: none;
	border-radius: 5px;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 700;
	transition: 0.35s;
	/* padding: 0 10px; */
}
button:focus {
	background: var(--sec-color);
	outline-color: var(--primary-color);
}
button:hover {
	background: var(--sec-color);
}
.disabled:disabled {
	background: rgb(144, 218, 252);
}
.add {
	font-size: 30px;
	font-weight: 900;
}
.interests,
.languages,
.skills {
	width: 400px;
	/* background: red; */
	display: flex;
	flex-wrap: wrap;
	max-height: 300px;
	overflow-y: scroll;
}
.interest,
.language,
.skill {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 5px 5px;
	height: 40px;
	/* width: 200px; */
	width: max-content;
	padding: 0 20px;
	color: white;
	background: var(--sec-color);
	border-radius: 100px;
	cursor: pointer;
}

.close {
	margin-left: 10px;
	justify-self: flex-end;
	transform: translatey(1px);
	opacity: 0;
	z-index: 1;
	transition: 0.35s;
}
.close-container > .close {
	color: crimson;
}
.interest:hover > .close,
.language:hover > .close,
.skill:hover > .close,
.project:hover .close,
.experience:hover .close {
	opacity: 1;
}
.projects {
	height: 200px;
	/* overflow-y: scroll; */
	/* background: red; */
}
.experiences {
	/* background: red; */
	height: 100px;
	width: 400px;
	/* overflow-x: hidden; */
	overflow-y: scroll;
}

.project,
.experience {
	color: var(--sec-color);
	position: relative;
	width: 400px;
	margin: auto;
}
.project h2,
.experience h2 {
	font-size: 120%;
}
summary {
	font-size: 150%;
}
/* .project-details, .experience-details{
    position: absolute;
    opacity: 0;
    scale: 0;
    transition: .4s;
    background: white;
    z-index: 1;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
} */
.relative-pos {
	position: relative;
	/* background: red; */
}
.experience-hover {
	position: absolute;
	background: white;
	color: var(--sec-color);
	width: 400px;
	max-height: 100px;
	overflow-y: scroll;
	z-index: 1;
	top: 0;
	left: 0px;
	border-radius: 10px;
	transition: 0.45s;
	padding: 10px;
	transform: translatey(-50px) scaley(0);
	opacity: 0;
	animation: in 0.1s linear forwards;
}
@keyframes in {
	100% {
		opacity: 1;
		transform: translatey(0) scaley(1);
	}
}
.experience-details {
	width: 400px;
	box-sizing: border-box;
}
.project:hover h2,
.experience:hover h2 {
	/* background: white; */
	cursor: pointer;
}
.project:hover > .project-details,
.experience:hover > .experience-details {
	opacity: 1;
	scale: 1;
}

.preview {
}
.container {
	width: 750px;
	margin: 0px auto 30px auto;
	height: 150vh;
	/* background: blue; */
	/* display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center; */
	padding: 20px 10px;
	/* border: 2px solid black; */
	/* box-shadow: 15px 15px 0 black; */
}
.theme {
}
.theme .name {
	/* background:lime; */
	text-align: center;
	font-size: 120%;
	margin: 10px;
	border-top: 1px solid black;
	border-bottom: solid 5px black;
	padding: 10px 0;
}
.theme .name h2 {
}
.theme .name p {
	padding-bottom: 5px;
	border-bottom: 1px solid black;
}
.theme > * {
	margin: 20px;
}
.theme .contact {
	/* display: flex; */
	/* justify-content: space-around; */
	/* flex-wrap: wrap; */
	margin: 20px;
	/* background: red; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.contact p {
	display: flex;
	/* justify-content: ; */
	align-items: center;
	margin-top: 10px;
}
.contact-icon {
	margin-right: 20px;
}
.theme .about {
	/* background: lime; */
	height: max-content;
	margin: 20px 20px;
}
fieldset {
	border: 1px solid transparent;
	width: 100%;
	/* border-top: 1px solid rgb(0, 0, 0); */
}
legend {
	width: 700px;
	padding: 10px 0px;
	margin-bottom: 10px;
	text-align: left;
	border-bottom: 2px solid rgb(63, 63, 63);
}
.theme .skills {
	/* background: lime; */
	width: max-content;
	height: min-content;
	margin: auto;
	/* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(auto, 1fr);
}
.det {
	text-indent: 10px;
}
.theme .skills li {
	/* background: red;  */
	margin: 2px 30px;
}
.theme .proj div,
.theme .exp div,
.theme .edu div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.preview-btns {
	width: fit-content;
	display: flex;
	margin: auto;
	gap: 10px;
}
/* ========= T R A N S I T I O N S ======= */
h1 {
	text-align: center;
}
.trans-enter {
	opacity: 0;
	transform: translatex(100px);
}
.trans-enter-active {
	opacity: 1;
	transition: 0.3s;
	transform: translatex(0);
}
.trans-exit {
	opacity: 1;

	transform: translatex(0);
}
.trans-exit-active {
	opacity: 0;
	transition: 0.3s;
	transform: translatex(-100px);
}

.reverse-enter {
	opacity: 0;
	transform: translatex(-100px);
}
.reverse-enter-active {
	opacity: 1;
	transition: 0.3s;
	transform: translatex(0);
}
.reverse-exit {
	opacity: 1;
	transform: translate(0);
}
.reverse-exit-active {
	opacity: 0;
	transition: 0.3s;
	transform: translatex(100px);
}
